.products {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.card {
    color: var(--violet);
    margin-bottom: var(--margin);
    border-radius: 10px;
    border: 8px solid var(--white);
    box-shadow: var(--shadow-big);
}

.card div {
    padding: 0px !important;
}

.card img {
    background-color: var(--blue);
}

.title {
    font: var(--text-display);
    text-align: center;
}

.card p {
    margin-right: 20px;
    text-align: right;
    font: var(--text-body);
}

.button {
    font: var(--text-body);
    box-shadow: var(--shadow-big);
    margin-right: var(--margin-right);
}