.content {
    color: var(--white);
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button {
    font: var(--text-body);
    box-shadow: var(--shadow-big);
    margin-right: var(--margin-right);
}

@media (min-width: 600px) {
    .content {
        width: 50%;
        margin: auto;
        margin-top: 30px;
    }
}